{% load static %}
{% block head %}
  <link rel="stylesheet" type="text/css" href='{% static "css/_nav.css" %}'>
{% endblock head %}

<div class="nav_container">
  <div class="left">
    <a href="{% url 'instagram:main' %}" class="insta_logo" ><i class="fab fa-instagram" ></i></a><h2>Instagram</h2>
  </div>
  <div class="search">
    <form action="#">
      <input class="form-control mr-sm-2" type="search" name="keyword" placeholder="검색">
    </form>
  </div>
  <div class="right">
    <a href="{% url 'instagram:create' %}"><i class="fas fa-camera"></i></a>
    <a href="#"><i class="far fa-compass"></i></a>
    <a href="{% url 'instagram:list' user.username %}"><i class="far fa-heart"></i></a>
    <a href="{% url 'instagram:list' user.username %}"><i class="far fa-user"></i></a>
  </div>
</div>